<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!--%= stylesheet_link_tag "depot" %-->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="store">
  <div id="banner">
    <% if not @counter.nil? and 5 < @counter %>
    <p>You has accessed the store controller's index action <%= pluralize(@counter, 'time') %></p>
    <% end %>
    <%= image_tag("logo.png") %>
    <%= @page_title || "Pragmatic Bookshelf" %>
  </div>
  <div id="columns">
    <div id="side">
      <% if not @cart.nil? %>
      <div id="cart">
        <%= render @cart %>
      </div>
      <% end %>
      <a href="http://www....">Home</a><br />
      <a href="http://www..../faq">Questions</a><br />
      <a href="http://www..../news">News</a><br />
      <a href="http://www..../contact">Contact</a><br />
      <!--span style="color:#bfb;"><%= Time.now %></span-->
      <div id="time"><%= Time.now %></div>
    </div>
    <div id="main">
      <%= yield %>
    </div>  
  </div>
</body>
</html>
